.places {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    margin-left: 20px;
    font-size: 30px;
    width: 100%;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.places article h2 {
    font-size: 30px;
}

.price_by_night {
    color: #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    top: 20px;
    right: 20px;
    position: absolute;
    text-align: center;
    line-height: 60px;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
}

.max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.max_guest {
    background-image: url('../images/icon_group.png');
}

.number_rooms {
    background-image: url('../images/icon_bed.png');
}

.number_bathrooms {
    background-image: url('../images/icon_bath.png');
}

.max_guest h4, .number_rooms h4, .number_bathrooms h4 {
    margin: 5px;
}

.user {
    display: flex;
    padding-top: 20px;
}

.description {
    text-align: left;
}

.article .amenities, .article .reviews {
    margin-top: 40px;
    display: block;
    text-align: left;
}

.article .amenities h2, .article .reviews h2 {
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid #DDDDDD;
}

.article .amenities ul {
    list-style-type: none;
    margin-top: 0;
}

.article .amenities ul li {
    height: 20px;
    background-size: contain;
    padding-left: 25px;
    background-repeat: no-repeat;
    line-height: 25px;
}

.artcile .amenities ul li.tv {
    background-image: url('../images/icon_tv.png');
}

.article .amenities ul li.wifi {
    background-image: url('../images/icon_wifi.png');
}

.article .amenities ul li.pets {
    background-image: url('../images/icon_pets.png');
}

.article .amenities ul li.kitc {
    background-image: url('../images/icon_kitc.png');
}

.article .reviews ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.article .reviews ul li h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

.article .reviews ul li p {
    margin-top: 5px;
    font-size: 12px;
}
