header {
    background-color: #FFFFFF;
    margin-left: 20px;
    height: 70px;
    width: 100%;
    border-bottom: 1px #201e1e;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
}
